// Primary
$primary200: #006C41;
$primary100: #008751;

// Secondary
$secondaryYellow: #ffD406;
$secondaryRed: #e8112d;

// greyscale
$black: #000;
$greyscale900: #121619;
$greyscale800: #21272a;
$greyscale700: #343a3f;
$greyscale600: #565c63;
$greyscale500: #AAB0B8;
$greyscale550: #6C747E;
$greyscale400: #c6cbd0;
$greyscale300: #dde1e4;
$greyscale250: #E1E6EC;
$greyscale200: #ebeef0;
$greyscale100: #f7f7f8;
$greyscale50: #fdfdfd;
$white: #fff;

$positiveBlue: #0471e9;
$negativeRed: #D61111;